body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;



}

.mainDiv {
    width: 600px;
    height: 600px;
    background-color: rgb(11, 131, 243);
    margin: 0 auto;
    font-size: 0;
}
.mainDiv > div {
    width: 200px;
    height: 200px; 
    border: 2px solid black;
    box-sizing: border-box;
    display: inline-block;
}
.red1{
    
    background-color: red;
    border-radius: 50%
}
.red{
    
    background-color: red;
}
.yellow1{
    
    background-color: yellow;
    border-radius: 50%
}
.yellow2{
    background-color: yellow;
}


.yellow3{
    background-color: yellow;
}

.green{
    background-color: green;
    
}
.green2{
    background-color: green;
    
}
.green3{
    background-color: green;
    border-radius: 50%
    
}